pandas                   # For reading and manipulating Excel and dataframes
tabulate                 # Pretty-print tables in CLI
duckdb                   # in memory database
setuptools               # for setup
questionary              # for asking menu based questions